
.gird-blog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px minmax(839px, auto) 60px;
    grid-template-areas:
        'header header header'
        'main main main'
        'footer footer footer';
}

.page-header-blog {
    grid-area: header;
}

.page-main-blog {
    grid-area: main;
}

.page-footer-blog {
    grid-area: footer;
}
